// COLORS
$primary-color: #302b63;
$secondary-color: #EF3B36;

$white-color: #F2F2F2;

$dark-grey: #000000;

$dark-blue-text: #000000; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
